[Interface]
PrivateKey = __WG_CLIENT_PRIVATE_KEY
# PublicKey = __WG_CLIENT_PUBLIC_KEY
Address = __WG_ADDRESS
DNS = 8.8.8.8

[Peer]
PublicKey = __WG_SERVER_PUBLIC_KEY
AllowedIPs = __WG_ALLOWED_IPS
Endpoint = __WG_SERVER_IP:__WG_PORT
PresharedKey = __WG_PRESHARED_KEY

