[Interface]
Address = __WG_CIDR
ListenPort = __PORT
PrivateKey = __PRIVATE_KEY
PostUp = iptables -A FORWARD -i %i -j ACCEPT; iptables -t nat -A POSTROUTING -o __NIC -j MASQUERADE
PostDown = iptables -D FORWARD -i %i -j ACCEPT; iptables -t nat -D POSTROUTING -o __NIC -j MASQUERADE
SaveConfig = true

__NON_INTERFACE_CONFIG
