#!/bin/bash

export WG_IPV4_NETWORK=__WG_IPV4_NETWORK
export WG_IPV6_NETWORK=__WG_IPV6_NETWORK
export WG_IPV4=__WG_IPV4
export WG_IPV6=__WG_IPV6
export WG_SERVER_PUBLIC_KEY=__WG_SERVER_PUBLIC_KEY
export WG_PORT=__WG_PORT
export WG_DEFAULT_ALLOWED_IPS=__WG_DEFAULT_ALLOWED_IPS

